<div class="container">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li class="active">购物车</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>商品名</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in shopcarList">
                        <td>{{key}}</td>
                        <td>{{item.name}}</td>
                        <td>&yen;{{item.price}}</td>
                        <td>
                            <button class="btn btn-default" ng-click="minusNumber(item)">
                                <span class="glyphicon glyphicon-minus"></span></button>
                            {{item.number}}
                            <button class="btn btn-default" ng-click="addNumber(item)">
                                <span class="glyphicon glyphicon-plus"></span></button>
                        </td>
                        <td>{{(item.number * item.price) | currency : "&yen;"}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteShopcar(key)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            总计: {{totalPrice | currency : "&yen;"}}
                        </td>
                    </tr>
                </tbody>
            </table>
         
        
        </div>
    </div>
</div>


    